// Typography

// Klavika
@font-face {
	font-family: 'KlavikaBold';
	src: url('../fonts/klavika/klavikaboldbold-webfont.eot');
	src: local('☺'), url('../fonts/klavika/klavikaboldbold-webfont.woff') format('woff'), url('../fonts/klavika/klavikaboldbold-webfont.svg#webfontBUN34PZS') format('svg');
	font-weight: bold;
	font-style: normal;
}

// Bulletproof Fontspring syntax
// @font-face {
// 	font-family: 'KlavikaBold';
// 	src: url('http://static.tecnico.ulisboa.pt/fonts/klavika/klavikaboldbold-webfont.eot?') format('eot'), url('http://static.tecnico.ulisboa.pt/fonts/klavika/klavikaboldbold-webfont.woff') format('woff'), url('http://static.tecnico.ulisboa.pt/fonts/klavika/klavikaboldbold-webfont.ttf') format('truetype'), url('../fonts/klavika/klavikaboldbold-webfont.svg#webfontBUN34PZS') format('svg');
// 	font-weight: bold;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'KlavikaRegularPlain';
// 	src: url('../fonts/klavika/klavikaregular-plain-webfont.eot');
// 	src: local('☺'), url('../fonts/klavika/klavikaregular-plain-webfont.woff') format('woff'), url('../fonts/klavika/klavikaregular-plain-webfont.svg#webfontDvaJrdUe') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'KlavikaLightPlain';
// 	src: url('../fonts/klavika/klavikalight-plain-webfont.eot');
// 	src: local('☺'), url('../fonts/klavika/klavikalight-plain-webfont.woff') format('woff'), url('../fonts/klavika/klavikalight-plain-webfont.svg#webfontpalXHmZY') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

@font-face {
	font-family: 'KlavikaMediumPlain';
	src: url('../fonts/klavika/klavikamedium-plain-webfont.eot');
	src: local('☺'), url('../fonts/klavika/klavikamedium-plain-webfont.woff') format('woff'), url('../fonts/klavika/klavikamedium-plain-webfont.svg#webfontTWPh10Er') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Bulletproof Fontspring syntax
// @font-face {
// 	font-family: 'KlavikaMediumPlain';
// 	src: url('http://static.tecnico.ulisboa.pt/fonts/klavika/klavikamedium-plain-webfont.eot?') format('eot'), url('http://static.tecnico.ulisboa.pt/fonts/klavika/klavikamedium-plain-webfont.woff') format('woff'), url('http://static.tecnico.ulisboa.pt/fonts/klavika/klavikamedium-plain-webfont.ttf') format('truetype'), url('http://static.tecnico.ulisboa.pt/fonts/klavika/klavikamedium-plain-webfont.svg#webfontTWPh10Er') format('svg');
// 	font-weight: bold;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'KlavikaMediumItalic';
// 	src: url('../fonts/klavika/klavikamedium-italic-webfont.eot');
// 	src: local('☺'), url('../fonts/klavika/klavikamedium-italic-webfont.woff') format('woff'), url('../fonts/klavika/klavikamedium-italic-webfont.svg#webfontQyMG82IJ') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'KlavikaRegularItalic';
// 	src: url('../fonts/klavika/klavikaregular-italic-webfont.eot');
// 	src: local('☺'), url('../fonts/klavika/klavikaregular-italic-webfont.woff') format('woff'), url('../fonts/klavika/klavikaregular-italic-webfont.svg#webfontPhNFtUba') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }



// Vertical rithm
h2, h3, h4, h5, h6 {
	 font: 16px/1.5 'KlavikaMediumPlain', Helvetica, Helvetica Neue, Arial;
	 line-height: 1.2;
	 color: $gray;
}
h1 {
	font-size: 2em;
	margin: 1.4em 0;
}
h2 {
	font-size: 1.6em;
	margin: 0 0 1em;
}
h4 {
	font-size: 1.2em;
	margin: .6em 0;
}
h5 {
	font-size: 1.1em;
	margin: .4em 0;
}
h6 {
	font-size: 1em;
	margin: .2em 0;
}