//  Variables

	// Colors
	$black: #000;
	$white: #FFF;

	$white-smoke: #F9F9F9;

	$gray: #666;
	$light-gray: #AAA;

	$blue-ist: #009DE0;
	$gray-ist: #46555F;

	$yellow: #FFAF33;
	$orange: #FF9833;
	$green: #45C396;

	$novo-cinza: #60798B;